.news-update {
    height: 45px;
    padding: 15px 15px;
    background-color: azure;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.news-update label {
    text-transform: capitalize;
    margin-right: 10px;
    color: red;
    width: min(120px, 20%);
}

.news-update .autoScroll {
    width: 100%;
    overflow-x: hidden;
}

.news-update .autoScroll ul {
    display: flex;
    list-style-type: none;
    animation: secondary 50s linear infinite;
}

@keyframes secondary {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.news-update .autoScroll ul:hover {
    animation-play-state: paused;
}

.news-update .autoScroll ul li {
    white-space: nowrap;
    margin-right: 20px;
    cursor: pointer;
}

.news-update .autoScroll ul li a {
    text-decoration: none;
    color: #333;
}

.news-update .autoScroll ul li::before {
    content: "\2022";
    color: red;
    font-weight: 900;
    display: inline-block;
    width: 1em;
    margin-left: -0.5em;
}

.headlines {
    height: 560px;
    margin: 30px 0px;
    display: flex;
    column-gap: 20px;
}

.main-news {
    position: relative;
    flex: 4;
    height: 100%;
    padding: 6px 5px;
    margin: 6px 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    background-color: #fff;

}

.main-news .image {
    width: 85%;
    height: 100%;
    float: right;
}

.runImageMain {
    animation: runImgMainNews 1s ease-in;
}

@keyframes runImgMainNews {
    0% {
        transform: scale(0.1) rotate(360deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(0);
        opacity: 1;
    }
}

.main-news .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 80%;
    background-color: gainsboro;
    opacity: 0.75;
    border-radius: 10px;
    padding: 20px 15px;
}

.runContent {
    animation: runContentMainNews 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes runContentMainNews {
    0% {
        transform: translateX(-100%) skewX(0deg) translateY(-50%);
        opacity: 0;
    }

    85% {
        transform: translateX(5%) skewX(-30deg) translateY(-50%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0%) skewX(0deg) translateY(-50%);
        opacity: 1;
    }
}

.main-news .content:hover {
    opacity: 1;
}

.main-news .content .info {
    height: 50px;
    display: flex;
    align-items: center;
}

.main-news .content .info .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-news .content .info .logo img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #222;
}

.main-news .content .info span {
    margin-left: 20px;
    font-size: 20px;
    color: black;
    font-weight: 700;
}


.main-news .content .info span.timeAgo {
    font-size: 15px;
    color: #333;
}

span.timeAgo::before {
    content: '\2022';
    margin-right: 0.4em;
}

.main-news .content .title {
    margin: 15px 0px;
    height: 70%;
}

.main-news .content .footer span {
    color: #333;
    font-size: 0.8em;
}


.headlines .right-news {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.headlines .right-news .card {
    animation: runCardHeadlines 1s linear;
}

@keyframes runCardHeadlines {
    0% {
        transform: translateX(100%) scale(0.1);
        opacity: 0;
    }

    100% {
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
}

.headlines .right-news .card:nth-child(2) {
    animation: runCardHeadlines 2s linear;
}

.headlines .right-news .card:nth-child(3) {
    animation: runCardHeadlines 3s linear;
}

.headlines .right-news .card:nth-child(4) {
    animation: runCardHeadlines 4s linear;
}

.card {
    display: flex;
    column-gap: 10px;
    height: max-content;
    cursor: pointer;
    background-color: #fff;
}

.card:hover {
    transform: scaleX(1.1);
    transform: scaleY(1.1);
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;

}


.card .image {
    flex: 2;
    height: initial;
}

.card:hover .image {
    margin: 5px;
}

.card .content {
    flex: 3;
}

.card .content .info {
    padding-left: 5px;
    margin-top: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

.card .content .info .logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.card .content .info .logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card .content .info span {
    margin-left: 10px;
    font-size: 0.9em;
    font-weight: 600;
}

.card .content .info span.timeAgo {
    font-size: 0.8em;
    font-weight: 400;
    color: #888;
}

.card .content .title {
    margin-top: 10px;
    padding: 5px;
}

.card .content .title h3 {
    font-size: 1em;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container-section {
    margin-top: 100px;
}

.caption {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption h2 {
    text-transform: capitalize;
    font-size: 2em;
}

.caption a {
    text-decoration: none;
    color: red;
    font-size: 1em;
    font-weight: 600;
}

.caption a span {
    margin-right: 10px;
}

.lastest-news .contents {
    display: flex;
    height: max-content;
    column-gap: 20px;
    row-gap: 10px;
}

.lastest-news .contents .card {
    flex: 1;
    flex-direction: column;
    height: 500px;
}


.contentShow .card:nth-child(1) {
    animation: runcard1 2s linear;
}

@keyframes runcard1 {
    0% {
        transform: translateX(-100%) scale(0.1);
        opacity: 0;
    }

    100% {
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
}

.contentShow .card:nth-child(3) {
    animation: runcard3 2s linear;
}

@keyframes runcard3 {
    0% {
        transform: translateX(100%) scale(0.1);
        opacity: 0;
    }

    100% {
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
}

.contentShow .card:nth-child(2) {
    animation: runcard2 2s linear;
}

@keyframes runcard2 {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.lastest-news .contents .card .image {
    height: 50%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.lastest-news .contents .card .content {
    padding: 20px 5px;
}

.lastest-news .contents .card .title h3 {
    font-size: 1.5em;
}

.lastest-news .contents .card .title p {
    color: #888;
    margin-top: 10px;
}

.must-read .contents {
    display: grid;
    gap: 20px 15px;
    grid-template-columns: 21% 27% 27% 21%;
}

.must-read .contents .card {
    flex-direction: column;
}

.must-read .contents .card:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    height: auto;
}


.must-read .contents .card:nth-child(1) .image {
    height: 50%;
}

.must-read .contents .card:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    position: relative;
    height: auto;
}


.must-read .contents .card:nth-child(2) .content {
    position: absolute;
    bottom: 0px;
    background-image: linear-gradient(rgba(14, 14, 14, 0), rgba(51, 51, 51, 1));
    height: 45%;
    padding: 5px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.must-read .contents .card:nth-child(2) .content .info {
    height: 50px;
}

.must-read .contents .card:nth-child(2) .content .info .logo {
    width: 50px;
    height: 100%;
    border-radius: 50%;
}

.must-read .contents .card:nth-child(2) .content .info span {
    font-size: 1.2em;
    color: #fff;
}

.must-read .contents .card:nth-child(2) .content .info span.timeAgo {
    font-size: 0.8em;
    color: #ddd;
}

.must-read .contents .card:nth-child(2) .content .title {
    color: #ddd;
}

.must-read .contents .card:nth-child(2) .content .title h3 {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.must-read .contents .card:nth-child(2) .content .title p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.must-read .contents .card:nth-child(2) .image {
    height: 100%;
}


.must-read .contents .card:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 5;
    height: auto;
}


.must-read .contents .card:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
    height: auto;
}

.must-read .contents .card:nth-child(3) .content .title p {
    display: none;
}

.must-read .contents .card:nth-child(4) .content .title p {
    display: none;
}

.topics {
    display: flex;
    column-gap: 4%;
    row-gap: 35px;
    column-count: 2;
    flex-wrap: wrap;
}

.topics .topic {
    width: 48%;
}

.contents-topic {
    height: max-content;
}

.contents-topic .card {
    display: flex;
    margin: 10px 0px;
    column-gap: 15px;
    height: 110px;
}

.contents-topic .card .image {
    flex: 1;
}

.contents-topic .card .content .info {
    margin: 0;
}

.contents-topic .card .title {
    margin: 0;
}

.contents-topic .card .title h3 {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.contents-topic .card .title p {
    font-size: 0.9em;
    color: #888;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.contents-topic .card .content {
    flex: 4;
}

.contents-topic .card:nth-child(1) {
    height: max-content;
}

.contents-topic .card:nth-child(1) .image {
    flex: 2;
}

.sources {
    overflow: hidden;
    width: 100%;
    padding: 20px 0px;
}

.sources ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    animation: secondary 30s linear infinite;
}

.sources ul li {

    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.sources ul li img {
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.sources ul li .infor {
    width: 200px;
    height: 100%;
    margin-left: 20px;
    padding: 5px 0px;
}

.sources ul li .infor p {
    font-size: 0.8em;
    color: red;
}

.sources ul:hover {
    animation-play-state: paused;
}

@media screen and (max-width: 768px) {
    .headlines {
        flex-direction: column;
        height: max-content;
    }

    .headlines .main-news {
        height: 50vh;
    }

    .headlines .main-news .image {
        width: 100%;
    }

    .headlines .main-news .content {
        width: 100%;
        height: 50%;
        top: 100%;
        transform: translateY(-100%);
        padding: 5px 10px;
        background-color: rgba(34, 34, 34, 0);
        background-image: linear-gradient(rgba(220, 220, 220, 0.451), rgb(220, 220, 220));

        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .headlines .main-news .content .title {
        margin: 0;
        height: max-content;

    }

    .headlines .main-news .content .title h2 {
        font-size: 1.3em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .headlines .main-news .content .title p {
        font-size: 1em;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .headlines .right-news {
        flex-direction: column;
        row-gap: 10px;
    }

    .lastest-news .contents {
        flex-direction: column;
    }

    .lastest-news .contents .card {
        flex-direction: row;
    }

    .lastest-news .contents .card .image {
        height: initial;
    }


    .must-read .contents {
        display: flex;
        flex-direction: column;
    }

    .must-read .contents .card {
        flex-direction: row;
    }

    .must-read .contents .card:nth-child(2) .content {
        position: relative;
        background-image: none;
        height: max-content;
        padding: initial;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .must-read .contents .card:nth-child(2) .content .info span {
        font-size: initial;
        color: initial;
    }

    .must-read .contents .card:nth-child(2) .content .info span.timeAgo {
        font-size: inherit;
        color: initial;
    }

    .must-read .contents .card:nth-child(2) .content .title {
        color: initial;
    }

    .must-read .contents .card:nth-child(2) .content .title h3 {
        color: initial;
        font-size: initial;
        margin-bottom: 0;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .must-read .contents .card:nth-child(2) .content .title p {
        display: none;
    }

    .topics .topic {
        width: max-content;
    }
}

@media screen and (max-width: 420px) {
    .lastest-news .contents .card {
        flex-direction: column;
    }

}


/* animation and transition */

.skeleton {
    opacity: .7;
    width: 100%;
    height: 100%;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}